.component-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
    Button {
        background: rgb(66, 66, 66);
        width: 200px;
        border: none;
        color: white;
        text-decoration: none;
    }
    Button:hover {
        background: black;
        color: white;
        text-decoration: none;
    }
    .titulo {
        background: white;
        width: 100%;
        padding-top: 1%;
        display: flex;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
    }

    .produtos { /* a div que fica os itens*/
        padding-bottom: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .item { /* estilo de cada item*/
        margin-top: 2%;
        border-radius: 5px;
        width: 250px;
        height: 450px;
        border: 1px solid #ededed;
        display: flex;
        transition: 0.5s;
        padding-bottom: 1%;
        .imagem { /* a div que fica a imagem*/
            padding: 3%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .informacao {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            p {
                font-size: 15px;
                font-weight: bolder;
            }
            h1 {
                font-size: 15px;
                color: rgb(237, 138, 52);
            }
        }
        Button {
            background: gray;
            width: 70%;
        }
        
    }
    
    .item:hover{
        box-shadow: 0 0 1em rgba(128, 128, 128, 0.397);
        border: 1px solid 	rgb(240, 240, 240);
    } 
}

@media (max-width: 500px) {
    .component-produtos{
        .item{
            height: 100%;
            width: 100%;
            flex-direction: row;
            .imagem {
                img {
                    width: 140px;
                }
            }
        }
    }
  }