.component-pagamento {
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.562);
    justify-content: space-around;
    .x1 {
        display: flex;
    }
    
    .x2 { /* div da imagem*/
        display: flex;
        align-items: center;
        margin-right: 15px;
        img {
            width: 50px;
        }
    }
    
    .pagamento {
        margin: 20px 60px 20px 0;
        text-align: center;
        line-height: 90%;
        .linha1 {
            font-weight: bold;
        }
    }
}

