.component-servicos{
    margin: 3% 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1 {
        padding-bottom: 10px;
        border-bottom: 1px solid gray;
    }
    .servicos-explicando{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.item{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px 10px;
    .title {
        padding-top: 7px;
        color: orangered;
        font-size: 20px;
    }
}

@media (max-width: 711px) {
    .component-servicos{
        h1 {
            text-align: center;
        }
        .servicos-explicando{
            justify-content: center;
        }
    }
}