.navi {
  background: #00aff0;
  display: flex;
  justify-content: center;
  padding: 1% 0;
  /* DROPDOWN*/
  .dropbtn {
    font-size: 14px;
    font-weight: bold;
    border: none;
    background: rgb(78, 149, 255);
    width: 100%;
    height: 100%;
    color: white;
    transition: 0.5s;
    border-radius: 5px;
  }
  .dropdown {
    display: inline-block;
    width: 30%;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: flex;
    width: 100%;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {
    text-decoration: none;
    border-radius: 5px;
    background-color: rgba(196, 228, 255, 0.288);
    color: black;}
  /* DROPDOWN end */
  .component-nav {
    font-weight: bold;
    border-radius: 5px;
    width: 80%;
    display: flex;
    background: rgb(78, 149, 255);
  }

  a {
    font-size: 14px;
    width: 30%;
    color: white;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    justify-content: center;
  }
  
  /* Change color on hover */
  a:hover {
  text-decoration: none;
  border-radius: 5px;
  background-color: rgba(196, 228, 255, 0.288);
  color: black;
  }
  .component-nav2{
    display: none;
  }
  
}
.toggle {
  width: 100%;
  padding-right: 20px;
  text-align: right;
  box-sizing: border-box;
  color: white;
  font-size: 30px;
  display: none;
  
}
.teste {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  img {
    width: 200px;
  }

}


@media (max-width: 768px) {
  .toggle {
    display: block;
  }
  .navi {
    flex-direction: column;
    padding: 0;
    .component-nav {
      width: 100%;
      flex-direction: column;
      text-align: center;
      display: none;
      transition: 1s;
    }
    .component-nav2 {
      width: 100%;
      flex-direction: column;
      text-align: center;
      font-weight: bold;
      border-radius: 5px;
      background: rgb(78, 149, 255);
      display: block;
      transition: 1s;
    }
    a {
      width: 100%;
      display: block;
      transition: 1s;
    }
    .dropdown {
      width: 100%;
      display: block;
      transition: 1s;
    }
  }
}